<html>
    <head>
        <meta charset="UTF-8">
        <title> login test </title>
    </head>
    <body>
        <h1> login </h1>
        <br>
        <form method="post">
            <table>
                <tr>
                    <td><label>id</label></td>
                    <td><input type = "text" name = "id"></td>
                </tr>
                <tr>
                    <td><label>pwd</label></td>
                    <td><input type="password" name="password"></td>
                </tr>
            </table>
            <input type="submit" value="send" name="" >
        </form>
    </body>
</html>